body {
  background-color: rgb(220, 248, 121);
  font-style: normal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 200px;
  margin-left: 200px;
  margin-right: 200px;
  padding-right: 200px;
}

#instructions {
  padding-bottom: 20px;
  font-size: 25px;
}
li {
  cursor: pointer;
  list-style: none;
  font-size: 30px;
}

.result-container {
  color: rebeccapurple;
  margin-top: 20px;
  padding-top: 60px;
}

#start-button {
  color: rgb(33, 34, 31);
  font-size: 24px;
  border-width: 10px;
}
#timer {
  flex-basis: 5px;
  height: 500px;
}
#time {
  align-items: flex-end;
  flex: 1;
  text-align: center;
  margin: 10px auto;
  width: 20%;
  height: 100%;
  font-size: 25px;
  font-style: bold;
  color: black;
  border: solid 1px black;
}

.hidden {
  display: none;
}
.scores-title {
  font-size: 40px;
  color: rebeccapurple;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;

}
.scores {
  border-style: groove;
  border-width: 10px;
  padding-left: 60px;
  font-style: oblique;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: gray;
}
.completed {
  font-size: 20px;
  color: rebeccapurple;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-left: 150px;
}

